<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jmjproductdev.phyter">

  <!-- Require that devices support BLE -->
  <uses-feature
      android:name="android.hardware.bluetooth_le"
      android:required="true"/>
  <!-- Required permissions for Bluetooth usage -->
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
  <!-- Required for BLE scanning and geocoding measurements -->
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <!-- Required for Fabric -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:name=".app.PhyterApp"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="GoogleAppIndexingWarning">
    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="a289cbad0cbc4895658b3b005e316b59f11e3fa4"
    />
    <activity android:name=".app.scenes.launch.LaunchActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity android:name=".app.scenes.simulator.SimulatorActivity">
    </activity>
    <activity android:name=".app.scenes.measure.MeasureActivity">
    </activity>
  </application>

</manifest>